# Django Settings
SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=your-app.onrender.com localhost 127.0.0.1
CORS_ALLOWED_ORIGINS=https://lead-management-2z4oyfewf-karan-kharads-projects.vercel.app
# Database (Supabase Connection String)
DATABASE_URL=postgresql://postgres:jdpmqWK5ccMO8I4l@db.rureejgxzkpunofwpweu.supabase.co:5432/postgres
